<!DOCTYPE>
<html>
  <header>
    <link href="style.css" rel="stylesheet"/>
  </header>
  <body>
    <div id="head">
      <h1>Welcome on VoteVault ! An secure electronic vote system.
    </div>
    <div id="main">
      <form action="/vote" method="post">
        <p>
          <label for="candidate-select">Choose a candidate</label>
          <select name="candidate" id="candidate-select">
            <option value="c1">Brad Pitt</option>
            <option value="c2">George Clown</option>
            <option value="c3">François Militaire</option>
            <option value="c4">Mike Dyson</option>
            <option value="c5">Angelina Sapasse</option>
          </select>
        </p>
        <p>
          <p id="name">
            <label for="voter-name">Enter your name: </label>
            <input type="text" id="voter-name" name="voter-name"/>
          </p>
          <p id="surname">
            <label for="voter-surname">Enter your surname: </label>
            <input type="text" id="voter-surname" name="voter_surname"/>
          </p>
        </p>
        <p>
          <input type="submit" value="Sign !" id="sign-vote" name="sign"/>
        </p>
      </form>
      <div id="info-column">
        <p id="counter">Nombre de votes (max 10): {{ votes }}</p>
        <p id="resultat">Candidat élu: {{ candidate }}</p>
      </div>
    </div>
  </body>
</html>
